<h1>Listing contacts</h1>

<table id="contacts-table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birthdate</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Ethnicity</th>
    <th>Description</th>
    <th>Contactable type</th>
    <th>Contactable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Contact</a>